@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

$font-family: "Plus Jakarta Sans", sans-serif;
$font-large: 4em;
$font-medium: 2em;
$font-small: 1em;

$green: #2E8B57;
$green-second: #1f9b55;
$black: #121212;
$font-color: #FFFFFF;

// Main
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: $green $green-second;
}

body {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  background-color: $black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  height: 50px;
  width: 100%;
  gap: 50px;
  padding: 2em 4.4em;
  overflow: hidden;
}

.header div {
  cursor: pointer;
}

.header div img {
  height: 20px;
  width: 20px;
  filter: invert(100%);
}

.visit-github {
  display: flex;
  background-color: $green;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 30px;
  border-radius: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.2em;
  position: relative;
  top: 0;
  left: 0;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}

.nav a {
  font-family: $font-family;
  font-size: $font-medium * 0.60;
  color: $font-color;
}

.who-am-i {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8em 8em;
  line-height: 1.8em;
  height: 100vh;
}

.who-am-i img {
  max-width: 450px;
  max-height: 450px;
}

.who-am-i h2 {
  font-size: $font-large;
  font-weight: 350;
}

.hobbies {
  padding: 8em 8em;
  height: 100vh;
}

.hobbies h3 {
  text-align: center;
  color: $font-color;
  font-size: $font-medium;
  font-weight: 350;
  margin-bottom: 2em;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-button {
  background: $green;
  border: none;
  color: white;
  font-size: 2em;
  padding: 0.8em 1em;
  cursor: pointer;
  z-index: 10;
}

.hobby-container {
  overflow: hidden;
  width: 100%;
  padding: 0em 1.5em;
}

.hobby {
  display: none;
  justify-content: space-between;
  color: $font-color;
  font-size: $font-small * 1.1;
  line-height: 1.8em;
  gap: 3em;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.hobby.active {
  display: flex;
  opacity: 1;
}

.hobby img {
  max-width: 450px;
  max-height: 450px;
}

.heading {
  color: $font-color;
  font-size: $font-large;
}

.section-introduce {
  color: $font-color;
  font-size: $font-medium * 1.50;
}

.paragraph {
  color: $font-color;
  font-size: $font-small * 1.15;
}

.colored-text {
  color: $green;
}

.colored-text-2 {
  color: $green-second;
}

// Miscellaneous

.hide {
  visibility: hidden;
}

.deactivate {
  display: none;
}

// Background
.area {
  position: fixed;
  // background: #4e54c8;
  // background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  // background: -webkit-linear-gradient(to left, $green, $green-second);
  // background: linear-gradient(to left, $green, $green-second); 
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 65px;
  height: 65px;
  background: rgba(255, 255, 255, 0.9);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 55px;
  height: 55px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 90px;
  height: 90px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 70px;
  height: 70px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 45px;
  height: 45px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.6;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 10%;
  }
}